## 1. Loading Data and Packages

In [14]:
import pandas as pd
import numpy as np
import warnings
from sklearn.ensemble import RandomForestRegressor
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
from math import sqrt

In [17]:
df = pd.read_excel('MOCK_DAT.xlsx')
df.head()

   id first_name last_name  ... Score Grade Def
0   1   Germayne    Doblin  ...   728    AA   0
1   2   Roshelle   Arnoult  ...   428    GG   1
2   3     Barbey  Duffield  ...   630    DD   0
3   4   Vivianne    Gibbin  ...   504    FF   0
4   5    Huntlee     Seman  ...   592    EE   0

[5 rows x 32 columns]

In [18]:
data=df.drop(['id', 'first_name', 'last_name', 'email','ip_address','Grade','Unnamed: 22'],1)

In [41]:
data.columns=data.columns.str.replace (" ", "_")

In [42]:
objList=data.select_dtypes(include='object')

In [43]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

for feat in objList:
    data[feat] = le.fit_transform(data[feat].astype(str))

In [44]:
X=data.drop(['Score','Current_balance_Amt'],1)
Y=data[['Score','Current_balance_Amt']]

In [45]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state=300)

In [46]:
rforest=RandomForestRegressor(random_state=2,n_estimators=200,min_samples_split=3)
rforest.fit(x_train,y_train)
y_pred=rforest.predict(x_test)

In [24]:
MAE=mean_absolute_error(y_test,y_pred),
RMSE=np.sqrt(mean_squared_error(y_test,y_pred)),
R2_SCORE=r2_score(y_test, y_pred)
print(MAE,RMSE,R2_SCORE)

(22.575137243731923,) (40.25189764325103,) 0.9047758574382967

In [25]:
pred=np.int_(rforest.predict(data.drop(['Score','Current_balance_Amt'],axis=1)))

In [26]:
pred=pd.DataFrame(pred, columns=['Score_pred','Current_balance_Amt_pred'])
pred['Score']=data['Score']
pred['Current_balance_Amt']=data['Current_balance_Amt']
pred.head(20)

    Score_pred  Current_balance_Amt_pred  Score  Current_balance_Amt
0          720                     12400    728                12400
1          446                     15299    428                15300
2          622                     14594    630                14600
3          559                     21198    504                21200
4          562                     16701    592                16700
5          667                     13600    656                13600
6          712                     14700    750                14700
7          646                     19699    661                19700
8          659                     20600    658                20600
9          386                     16299    391                16300
10         594                     18100    581                18100
11         362                     15700    352                15700
12         464                     21186    489                21200
13         384                     28804    333                28800
14         652                     15600    636                15600
15         626                     13296    613                13300
16         419                     27601    396                27600
17         670                     22300    685                22300
18         583                     17400    521                17400
19         624                     13600    612                13600

In [ ]:
pred.shape

(10000, 4)

In [27]:
# Import pickle Package

import pickle

In [28]:
# Save the Modle to file in the current working directory
Pkl_Filename = "Pickle_RL_Model.pkl"  

with open(Pkl_Filename, 'wb') as file:  
    pickle.dump(rforest, file)

In [29]:
# Load the Model back from file
with open(Pkl_Filename, 'rb') as file:  
    Pickled_RF_Model = pickle.load(file)

Pickled_RF_Model

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=3, min_weight_fraction_leaf=0.0,
                      n_estimators=200, n_jobs=None, oob_score=False,
                      random_state=2, verbose=0, warm_start=False)

In [47]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8000 entries, 2857 to 1233
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   gender              8000 non-null   int64
 1   Age                 8000 non-null   int64
 2   Years_in_job        8000 non-null   int64
 3   Income              8000 non-null   int64
 4   Province            8000 non-null   int64
 5   Marital_status      8000 non-null   int64
 6   Savings             8000 non-null   int64
 7   Home_ownership      8000 non-null   int64
 8   Credit_history      8000 non-null   int64
 9   Number_of_accs      8000 non-null   int64
 10  Open_accounts       8000 non-null   int64
 11  Credit_cards        8000 non-null   int64
 12  Home_loan           8000 non-null   int64
 13  Overdraft           8000 non-null   int64
 14  Student_Loan        8000 non-null   int64
 15  Perfoming_Accs      8000 non-null   int64
 16  Non_perfoming_Accs  8000 non-null   int64
 17  Closed_Accs         8000 non-null   int64
 18  Open_Accounts       8000 non-null   int64
 19  Current_In_Arrears  8000 non-null   int64
 20  Past_due_Amt        8000 non-null   float64
 21  No_of_enquiries     8000 non-null   int64
 22  Def                 8000 non-null   int64
dtypes: float64(1), int64(22)
memory usage: 1.5 MB

#### Encoded values (Values before Categorical Encoding)

In [32]:
objList.gender.value_counts()

Female    5003
Male      4997
Name: gender, dtype: int64

In [37]:
data.gender.value_counts()

0    5003
1    4997
Name: gender, dtype: int64

In [34]:
objList.Province.value_counts()

Nairobi            6791
Northe Eastern      558
Nyanza              558
Eastern             534
Western             529
Central             528
Rift Valley         502
Name: Province, dtype: int64

In [38]:
data.Province.value_counts()

2    6791
4     558
3     558
1     534
6     529
0     528
5     502
Name: Province, dtype: int64

In [35]:
objList.Marital_status.value_counts()

Single      4707
Divorced    2660
Married     2633
Name: Marital_status, dtype: int64

In [39]:
data.Marital_status.value_counts()

2    4707
0    2660
1    2633
Name: Marital_status, dtype: int64

In [36]:
objList.Home_ownership.value_counts()

Rent        5251
Own Home    4396
Mortgage     353
Name: Home_ownership, dtype: int64

In [40]:
data.Home_ownership.value_counts()

2    5251
1    4396
0     353
Name: Home_ownership, dtype: int64