## 1. Loading Data and Packages

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import warnings
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.metrics import accuracy_score,mean_squared_error,r2_score,mean_absolute_error
from math import sqrt
warnings.filterwarnings('ignore')

In [2]:
from google import colab
colab.drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
# Load train and Test set
import os 
path = '/content/gdrive/My Drive/colab/credit_score_zalda'

In [86]:
data = pd.read_csv(path+'/loan_data.csv')

In [54]:
r = 0.13
interestRate=r/data['Number_of_installments(months)']
data['loan_limit']            = abs(np.pv(interestRate/data['Number_of_installments(months)'],

                                data['Number_of_installments(months)']*1,

                                data['monthly_installments'],

                                when='end').round(0)
)

In [55]:
data.head()

   gender  Age  ...  Number_of_installments(months)  loan_limit
0    Male   48  ...                               5    183089.0
1  Female   37  ...                               8    242356.0
2  Female   39  ...                               3     85127.0
3  Female   38  ...                               1     28192.0
4    Male   25  ...                               5     82270.0

[5 rows x 24 columns]

In [56]:
objList=data.select_dtypes(include='object')

In [57]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

for feat in objList:
    data[feat] = le.fit_transform(data[feat].astype(str))

print (data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   gender                          10000 non-null  int64
 1   Age                             10000 non-null  int64
 2   Years_in_job                    10000 non-null  int64
 3   Income                          10000 non-null  int64
 4   Province                        10000 non-null  int64
 5   Savings                         10000 non-null  int64
 6   Home_ownership                  10000 non-null  int64
 7   Credit_history                  10000 non-null  int64
 8   Number_of_accs                  10000 non-null  int64
 9   Credit_cards                    10000 non-null  int64
 10  Home_loan                       10000 non-null  int64
 11  Overdraft                       10000 non-null  int64
 12  Student_Loan                    10000 non-null  int64
 13  Non_perfoming_Accs              10000 non-null  int64
 14  Open Accounts                   10000 non-null  int64
 15  Current_In_Arrears              10000 non-null  int64
 16  Current_balance_Amt             10000 non-null  int64
 17  Past_due_Amt                    10000 non-null  float64
 18  No_of_enquiries                 10000 non-null  int64
 19  Score                           10000 non-null  int64
 20  Def                             10000 non-null  int64
 21  monthly_installments            10000 non-null  float64
 22  Number_of_installments(months)  10000 non-null  int64
 23  loan_limit                      10000 non-null  float64
dtypes: float64(3), int64(21)
memory usage: 1.8 MB
None

In [63]:
X=data.drop(['Score','loan_limit'],1)
Y=data[['Score','loan_limit']]

In [64]:
X.shape, Y.shape

((10000, 22), (10000, 2))

## 6. Modeling and Predictions

In [65]:
# !pip install catboost

In [67]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state=300)

In [75]:
etree=ExtraTreesRegressor(random_state=2)
etree.fit(x_train,y_train)
y_pred=etree.predict(x_test)

In [76]:
MAE=mean_absolute_error(y_test,y_pred),
RMSE=np.sqrt(mean_squared_error(y_test,y_pred)),
R2_SCORE=r2_score(y_test, y_pred)
print(MAE,RMSE,R2_SCORE)

(83.1688300000001,) (145.51899492660797,) 0.8258674255659617

In [77]:
pred=np.int_(etree.predict(data.drop(['Score','loan_limit'],axis=1)))

In [78]:
pred=pd.DataFrame(pred, columns=['Score_pred','loan_limit_pred'])
pred['Score']=data['Score']
pred['loan_limit']=data['loan_limit']
pred.head(20)

    Score_pred  loan_limit_pred  Score  loan_limit
0          728           183089    728    183089.0
1          428           242356    428    242356.0
2          630            85127    630     85127.0
3          504            28192    504     28192.0
4          509            82207    592     82270.0
5          656            77935    656     77935.0
6          677           305969    750    305974.0
7          661           154586    661    154586.0
8          658           121053    658    121053.0
9          479            21666    391     21670.0
10         581           322872    581    322872.0
11         352            29947    352     29947.0
12         489           156418    489    156418.0
13         333            54980    333     54980.0
14         636           185264    636    185264.0
15         613           235529    613    235529.0
16         396            24436    396     24436.0
17         685           164460    685    164460.0
18         521           206407    521    206407.0
19         612           160454    612    160454.0

In [79]:
pred.shape

(10000, 4)

In [80]:
# Import pickle Package

import pickle

In [83]:
# Save the Modle to file in the current working directory
Pkl_Filename = "Pickle_RL_Model.pkl"  

with open(Pkl_Filename, 'wb') as file:  
    pickle.dump(etree, file)

In [84]:
# Load the Model back from file
with open(Pkl_Filename, 'rb') as file:  
    Pickled_ET_Model = pickle.load(file)

Pickled_ET_Model

ExtraTreesRegressor(bootstrap=False, ccp_alpha=0.0, criterion='mse',
                    max_depth=None, max_features='auto', max_leaf_nodes=None,
                    max_samples=None, min_impurity_decrease=0.0,
                    min_impurity_split=None, min_samples_leaf=1,
                    min_samples_split=2, min_weight_fraction_leaf=0.0,
                    n_estimators=100, n_jobs=None, oob_score=False,
                    random_state=2, verbose=0, warm_start=False)

In [85]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8000 entries, 2857 to 1233
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   gender                          8000 non-null   int64
 1   Age                             8000 non-null   int64
 2   Years_in_job                    8000 non-null   int64
 3   Income                          8000 non-null   int64
 4   Province                        8000 non-null   int64
 5   Savings                         8000 non-null   int64
 6   Home_ownership                  8000 non-null   int64
 7   Credit_history                  8000 non-null   int64
 8   Number_of_accs                  8000 non-null   int64
 9   Credit_cards                    8000 non-null   int64
 10  Home_loan                       8000 non-null   int64
 11  Overdraft                       8000 non-null   int64
 12  Student_Loan                    8000 non-null   int64
 13  Non_perfoming_Accs              8000 non-null   int64
 14  Open Accounts                   8000 non-null   int64
 15  Current_In_Arrears              8000 non-null   int64
 16  Current_balance_Amt             8000 non-null   int64
 17  Past_due_Amt                    8000 non-null   float64
 18  No_of_enquiries                 8000 non-null   int64
 19  Def                             8000 non-null   int64
 20  monthly_installments            8000 non-null   float64
 21  Number_of_installments(months)  8000 non-null   int64
dtypes: float64(2), int64(20)
memory usage: 1.4 MB